* {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
	--light-gray: #404040
}

html,
body {
	width: 100%;
	height: 100vh;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	background-color: var(--light-gray);
}

p {
	margin: 0;
	padding: 0;
}

/* editor */

#editorContainer {
	width: 90%;
	height: 90vh;
	align-self: center;
}

.line {
	display: flex;
	flex-direction: row;
}

.rowNum {
	width: 4%;
	padding: 5px;
	color: #fff;
	background-color: var(--light-gray);
	border-right: 4px solid #303030;
	text-align: right;
	font-size: 1.1em;
	user-select: none;
}

.rowContent {
	width: 100%;
	height: auto;
	padding-left: 5px;
	display: flex;
	align-items: center;
	color: #fff;
	background-color: var(--light-gray);
	cursor: text;
	font-size: 1.1em;
	letter-spacing: 0.15em;
	white-space: pre-wrap;
}

.rowContent::selection {
	background-color: #ccc;
}

.focused {
	background-color: #454545;
}

#cursor {
	width: 1px;
	height: 100%;
	display: inline-block;
	background-color: #0bc1da;
	animation: blink 1s steps(2, start) infinite;
}

/* dirContents */

#dirContent {
	width: 25vw;
	height: 100vh;
	background-color: #303030;
	font-size: 1.05em;
}

.file {
	width: 100%;
	height: 50px;
	padding-left: 5px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	vertical-align: middle;
	cursor: pointer;
}

.icon {
	width: 25px;
	height: 25px;
	background-color: #454545	
}

.title {
	width: 80%;
	height: auto;
	margin: auto;
	color: #fff;
	text-align: center;
}

/* keyframes */
@keyframes blink {
	to {
		visibility: hidden;
	}
}