html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	background-color: #404040;
	display: flex;
	justify-content: center;
}

#editorContainer {
	height: 90vh;
	width: 90%;
	align-self: center;
}

.line {
	display: flex;
	flex-direction: row;
}

.rowNum {
	padding: 5px;
	color: #fff;
	background-color: #222;
}

.rowContent {
	width: 100%;
	padding-left: 5px;
	display: flex;
	align-items: center;
	color: #fff;
	background-color: #505050
}

.cursor {
	animation: blink 0.80s infinite ;
	display: inline-block;
	width: 1px;
	height: 100%;
	background-color: #0bc1da;
}

.focused {
	background-color: #606060;
}

/* keyframes */
@keyframes blink {
	from {
		opacity: 1.0
	}

	to {
		opacity: 0.0
	}
}